h1 {
    color: blue;
}
img {
    width: 400px;
}
#thirdDiv{
    height: 600;
    width: 500;
    background-color: blueviolet;
    padding:50px;
    border-style: chartreuse;
}
#spanID {
    font-size: 18;
    margin: 50;
}
.divClass {
    text-align: center;
}